.valueProposition {
  display: grid;
  width: 100%;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
  grid-template-rows: auto auto auto;
  background-color: rgba(111, 207, 151, 0.2);
  margin: -1px 0px 40px 0px;
}

.valueProposition > img {
  justify-self: center;
  align-self: center;
  padding: 10px;
}

.valueProposition > h3 {
  color: #163847;
  justify-self: center;
  align-self: center;
  margin: 10px;
}

.valueProposition > p {
  font-size: 16px;
  text-align: center;
  margin: 0px 16px 30px 16px;
}
