.hero {
  display: flex;
  orientation: column;
  margin: 0px 0px 40px 80px;
}

.hero__image {
  height: 50%;
  width: 60%;
  z-index: -1;
}

.hero__textContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 70px;
}

.hero__title {
  font-size: 5vw;
  font-weight: 700;
}

.hero__animatedTitle {
  font-size: 5vw;
  font-weight: 700;
}

.hero__subtitle {
  font-size: 2vw;
  font-weight: 400;
}

.hero__buttonsContainer {
  display: flex;
}

.hero__button {
  display: inline-block;
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: #ff5a5f;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
}
