.valueProposition {
  background-color: rgba(242, 187, 28, 0.2);
  margin-bottom: 40px;
}

.valueProposition__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}

.valueProposition__titles {
  padding-top: 30px;
}

.valueProposition__row > h2 {
  font-size: 25px;
}
.valueProposition__row > p {
  font-size: 18px;
  text-align: center;
  padding: 0px 50px 0px 50px;
}
