.banner {
  display: flex;
  orientation: column;
}

.banner__image {
  width: 100%;
  z-index: -1;
}

.banner__textContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 35%;
  left: 8%;
  top: 25%;
}

.banner__emptyContainer {
  position: absolute;
  display: flex;
  width: 60%;
}

.banner__title {
  font-size: 5vw;
  font-weight: 700;
  color: darkblue;
}

.banner__animatedTitle {
  font-size: 5vw;
  font-weight: 700;
  color: pink;
}

.banner__subtitle {
  font-size: 2vw;
  font-weight: 400;
  left: 5%;
}
