.header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: sticky;
  z-index: 100;
}

.header__logo {
  width: 115px;
  object-fit: contain;
  margin-left: 5vw;
  margin-right: 2vw;
}

.header__nav {
  display: flex;
  font-weight: 400;
  margin-right: 2vw;
}

.header__option {
  font-size: 18px;
  margin-right: 2vw;
}
