.darkblue {
  color: #163847;
}

.blue {
  color: #54b8cb;
}

.pink {
  color: #ff5a5f;
}

.yellow {
  color: #f2bb1c;
}

.green {
  color: #6fcf97;
}

.purple {
  color: #bb6bd9;
}

.gray1 {
  color: #333;
}

.gray2 {
  color: #4f4f4f;
}

.gray3 {
  color: #828282;
}

.gray4 {
  color: #bdbdbd;
}

.gray5 {
  color: #e0e0e0;
}

.gray6 {
  color: #f2f2f2;
}
